/* font kits */

.open-sans-body-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
   
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.nav-heading{
    font-size: 45px;
}
.rr{
    color: #FD6E0A;
}
.ankor{
    display: flex;
    gap: 50px;
   align-items: center;
    
}
.ankor >a{
    text-decoration: none;
    color: black;
    font-weight: 400px;
}
.btn{
   width: 130px;
    height:50px;
    background-color: #FD6E0A;
    border-radius: 7px;
    font-weight: 20px;
}
.btn-font{
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.banner{
    display: flex;
    align-items: center;
    margin: 0 150px;
}
img{
    width: 100%;
}
.banner-content{
}
.banner-greting{
    font-size:  45;
    font-weight: 700px;
}
.banner-heding{
    font-size: 50px;
    font-weight: bold;
}
.banner-btn1{
    padding: 10px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: #FD6E0A;
    margin-right:8px;
}
.banner-btn2{
    padding: 8px;
    border: solid 2px #FD6E0A;
    border-radius: 5px;
   
}

.about-heding{
    font-size: 35px;
    font-weight: bold;
}
.main-div{
    max-width: 1034px;
    background-color: antiquewhite;
    margin: 0 auto;
    padding: 70px;
    margin-top: 40px;
}
.about-section{
    margin-top:30px;
    text-align: center;
    border: solid 2px black;
}
.about-items{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.skils{
    justify-items: center;
    margin-top: 50px;
    
}

.section-tittle{
 text-align: center;  
 margin-bottom: 20px; 
}

.section-description{
    color: black;
    text-align: center;
    width: 708px;
    height: 90px;
   
}

.card{
    /* width:  267px;
    height: 377px; */
    background-color: rgb(101, 101, 88);
    border-radius: 5px;
    box-shadow:0 6px 10px 0 blue;
}
.image-js{
    width:50px;
}

.card-main-div{
    display: flex;
    gap: 20px;
    margin: 0 200px;
    margin-top: 20px;
    justify-items: center;

}
.card-description,.image-js,.card-heding {
    padding: 30px;
}
.section-heding{
    text-align: center;
    
}
.description-card-main{
    display: flex;
    margin: 0 200px;
    gap: 40px;
    margin-top: 30px;
}
.section-hed{
    margin-top: 80px;
    justify-items: center;
}
.download-btn{
    margin-top: 20px;
}
.footer-main{
    display: flex;
    margin:0 200px;
    gap:200px;
    margin-top: 40px;
    align-items: center;
    background-color: bisque;
    padding: 40px;
    margin-top:100px;
}
.footer-main1{

}
.footer-main2{
    display: flex;
    flex-direction:column;
    gap: 30px   ;
    
}


.footer-main2 input[type="text"]{
    height: 64px;
    border-radius:5px ;
    background-color: #FD6E0A;
    /* display: block; */
    width: 100%;

}
.inpss{
    width: 100%;
    height: 64px;
    margin-top: 20px;
    border-radius:5px ;
    background-color: #FD6E0A;
}
.text{
    margin-top: 20px;
}
.submit-btn{
    display: block;
   padding: 10px 25px 10px 25px;
   background-color: #FD6E0A;
   border-radius: 5px;
   margin-top: 20px;
    
}
.footer-section{
    width: 100%;
    height: 200px;
    background-color: black;
}
.icon-class{
    display: flex;
    gap: 20px;
}

    
